*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/
.vs/
.vnev/
.pytest_cache/
build/
out/
dist/
cache/
runtime/
systemLogs/
__pycache__/
logs/
bin/
obj/
cmake-build-*/

logs
.env
CmakeUserPresets.json
compile_commands.json
*.exe
*.dll
*.pyc