*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/
.vs/
.vccode/
.vnev/
.pytest_cache/
build/
install/
out/
dist/
cache/
runtime/
systemLogs/
__pycache__/
logs/
bin/
obj/
cmake-build-*/
src/platform/**/bin/
src/platform/**/obj/

logs
.env
*.exe
*.dll
*.pyc
CmakeUserPresets.json
compile_commands.json
compile_commands.json