*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/
.vs/
build/
out/
dist/
node_modules/
cache/
runtime/
systemLogs/

01_Gateway_Node/bridge/headers/shm-buffer.hpp
03_Core_Cpp/headers/shm-buffer.hpp
logs
.env
CmakeUserPresets.json
*.exe