{
    "broker": "your-broker-name-in-all-capital-without-space",
    "appId":  "your-appid/clientId",
    "appSecret": "your-appsecret/secret",
    "redirectUri": "http://127.0.0.1:3000/callback < default/ must match with one given to broker"
}